.ligth {
    --mainCololor: #8164f4;
    --hoverColor: #5b5fdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #222;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #222;

}
.dark {
    --mainCololor: #4c3bbe;
    --hoverColor: #5b5fdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #222;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #222;

}

*,
*::before,
*::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {

    font-family: "sora", sans-serif;
}
.wrapper {
    position: relative;
    padding: 1.7rem 0.2rem;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}